*~
test-files/test-bioaln.aln.slice-142.aln
test-files/test-bioaln.aln.slice-239.aln
test-files/test-bioaln.aln.slice-258.aln
test-files/test-bioaln.aln.slice-31.aln
test-files/test-bioaln.aln.slice-67.aln
test-files/test-bioaln.aln.slice-91.aln
