*IGS:11.fas
*~
*.err
/Build
/MANIFEST.SKIP.bak
/MYMETA.json
/MYMETA.yml
/_build
/blib
/tmp
Bio-BPWrapper-*.tar.gz
META.json
META.yml
Makefile.PL
t/check-data/*.err
test-bioseq.nuc.sed
test-files/test-bioaln.aln.slice-*.aln
test-files/test-bioaln.cds.slice-*.aln
