language: perl

sudo: false

env:
  - PREREQS="Module::Build rlib Test::More Bio::Root::Version"

after_failure:
  - cat /home/travis/.cpanm/work/*/build.log

install:
  # Prerequisites
  - "cpanm $PREREQS"

perl:
  - "5.22"
  - "5.18"
  - "5.14"
  - "5.12"
  - "5.10"
  - "5.16"
  - "5.20"
  - "5.24"
  - "5.26"
